.item {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item:hover {
  cursor: pointer;
}

.invite {
  position: relative;
  color: Grey;
}

.invite span {
  position: absolute;
  right: 34px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  background: #eeeff2;
  border-radius: 24px;
  height: 22px;
}
